# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

personal-page.iml

# Node dependencies
node_modules

#turbo tui settings and tui.json
/.turbo


#ignore import map from cms
/cms/src/app/\(payload\)/admin

# turbo related files
.turbo
.turbo/preferences
.turbo/preferences/*
.turbo/cookies

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.aws.example
.vercel

# Local Netlify folder
.netlify
