@mixin theme-bg($light, $dark) {
  @apply #{$light};
  &.dark {
    @apply #{$dark};
  }
}

html,
body {
  @apply scroll-smooth transition-colors duration-600 ease-[cubic-bezier(0.33,1,0.68,1)];
}

html {
  @include theme-bg(bg-pureWhite, bg-pureBlack);
}

// page transitions
/* Enhanced soft fade transition without scaling to avoid jumpiness */
.page-enter-active,
.page-leave-active {
  @apply duration-300 ease-in-out !important;
  transition-property: opacity, filter !important;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(2px); /* Start with a light blur */
}

.page-enter-to {
  opacity: 1;
  transition-delay: 0.1s; /* Delay the clearing of the blur for a smooth transition */
  filter: blur(0);
}

.page-leave-active {
  opacity: 0;
  filter: blur(4px); /* Slightly more blur on leave for a soft exit */
}


