@font-face {
  font-family: 'Electric';
  src: url('./Headline/Electric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-electric {
  font-family: 'Electric', sans-serif;
}
