@font-face {
  font-family: 'Headline';
  src: url('./Headline/Headline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glitch';
  src: url('./Headline/Glitch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brolink';
  src: url('./Headline/Brolink.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mechsuit';
  src: url('./Headline/Mechsuit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Anurati';
  src: url('./Headline/Anurati.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Blanka';
  src: url('./Headline/Blanka.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heat';
  src: url('./Headline/Heat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sprintura';
  src: url('./Headline/Sprintura.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linetical';
  src: url('./Headline/Linetical.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroblade';
  src: url('./Headline/Aeroblade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Disolve_light';
  src: url('./Headline/Disolve_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Disolve_regular';
  src: url('./Headline/Disolve_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arista';
  src: url('./Headline/Arista.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Esp';
  src: url('./Headline/Esp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Esp_Italic';
  src: url('./Headline/Esp_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Race';
  src: url('./Headline/Race.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF';
  src: url('./Headline/SF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Electric';
  src: url('./Headline/Electric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-headline {
  font-family: 'Headline', sans-serif;
}
.font-anurati {
  font-family: 'Anurati', sans-serif;
}
.font-blanka {
  font-family: 'Blanka', sans-serif;
}
.font-electric {
  font-family: 'Electric', sans-serif;
}
.font-sf {
  font-family: 'SF', sans-serif;
}

.font-race{
  font-family: 'Race', sans-serif;
}
.font-heat{
  font-family: 'Heat', sans-serif;
}

.font-glitch {
  font-family: 'Glitch', sans-serif;
}

.font-sprintura {
  font-family: 'Sprintura', sans-serif;
}

.font-aeroblade {
  font-family: 'Aeroblade', sans-serif;
}

.font-brolink {
  font-family: 'Brolink', sans-serif;
}
.font-linetical {
  font-family: 'Linetical', sans-serif;
}

.font-mechsuit {
  font-family: 'Mechsuit', sans-serif;
}

.font-disolve-light {
  font-family: 'Disolve_light', sans-serif;
}

.font-disolve-regular {
  font-family: 'Disolve_regular', sans-serif;
}

.font-arista {
  font-family: 'Arista', sans-serif;
}

.font-esp {
  font-family: 'Esp', sans-serif;
}

.font-esp-italic {
  font-family: 'Esp_Italic', sans-serif;
}