@font-face {
  font-family: 'Electric';
  src: url('Headline/Electric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ginger';
  src: url('Headline/Ginger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mondea';
  src: url('Headline/Mondea.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: normal;
  src: url('Headline/Recoleta.woff') format('woff');
}

@font-face {
  font-family: 'Electric';
  src: url('Headline/Electric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Nohemi-Regular';
  src: url('Headline/Nohemi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ResistSans.otf';
  src: url('Headline/ResistSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbito.otf';
  src: url('Headline/Orbito.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk.ttf';
  src: url('Headline/CabinetGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('Headline/ClashDisplay.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-electric {
  font-family: 'Electric', sans-serif;
}

.font-recoleta {
  font-family: 'Recoleta', sans-serif;
}

.font-ginger {
  font-family: 'Ginger', sans-serif;
}

.font-mondea {
  font-family: 'Mondea', sans-serif;
}

.font-nohemi {
  font-family: 'Nohemi-Regular', sans-serif;
}

.font-resist {
  font-family: 'ResistSans.otf', sans-serif;
}

.font-orbito {
  font-family: 'Orbito.otf', sans-serif;
}

.font-cabinet {
  font-family: 'CabinetGrotesk.ttf', sans-serif;
}

.font-clash {
  font-family: 'ClashDisplay', sans-serif;
}

.font-clash-regular {
  font-family: 'ClashDisplay-Regular', sans-serif;
}

.font-prata {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geist-regular {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-thin {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.space-grotesk-regular {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.boldonse-regular {
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;
}

.audiowide-regular {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-dots-regular {
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bruno-ace-sc-regular {
  font-family: 'Bruno Ace SC', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
}

.font-nova {
  font-family: 'Nova Square', 'Space Grotesk', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.figtree-regular {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.crimson-text-regular {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: normal;
}

.font-lora {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}

.font-eb-garamond {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.zalando-sans-expanded {
  font-family: 'Zalando Sans Expanded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
