@font-face {
  font-family: 'Electric';
  src: url('Headline/Electric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginger';
  src: url('Headline/Ginger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mondea';
  src: url('Headline/Mondea.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('Headline/Recoleta.woff') format('woff');
}

@font-face {
  font-family: 'Nohemi-Regular';
  src: url('Headline/Nohemi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ResistSans.otf';
  src: url('Headline/ResistSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbito.otf';
  src: url('Headline/Orbito.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CabinetGrotesk.ttf';
  src: url('Headline/CabinetGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('Headline/ClashDisplay.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('Headline/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-Super-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-Super-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-MediumItalic-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-BoldItalic-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-HeavyItalic-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('Headline/Druk-SuperItalic-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-MediumItalic-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-BoldItalic-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-HeavyItalic-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DrukTextBoldTrial';
  src: url('Headline/DrukText-SuperItalic-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Chiqueta';
  src: url('Headline/Chiqueta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Djingo';
  src: url('Headline/Djingo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Now';
  src: url('Headline/Now-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Kaluar';
  src: url('Headline/Kaluar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Keiner';
  src: url('Headline/Keiner-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-LeagueGothic';
  src: url('Headline/LeagueGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Mailna';
  src: url('Headline/Mailna.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-LeMurmure';
  src: url('Headline/LeMurmure.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Neems';
  src: url('Headline/Neems-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Outward';
  src: url('Headline/Outward-Block.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Raffas';
  src: url('Headline/Raffas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font-Reign';
  src: url('Headline/Reign-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TypogamaAsing';
  src: url('Headline/TypogamaAsing.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
